body{
    margin: 0px;
    overflow-x: hidden;
}
@font-face {
    font-family: robot reg;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: robot lit;
    src: url(Roboto-Light.ttf);
}
@font-face {
    font-family: robot bold;
    src: url(Roboto-Black.ttf);
}
@font-face {
    font-family: open i sans;
    src:url(OpenSans-Italic.ttf)
}
@font-face {
    font-family: open sans;
    src: url(OpenSans-Regular.ttf);
}
.mini{
    width: 100%;
    height: 100%;
}
/*.topbox{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 2;
    background-color: white;
}

.topbox h1{
    font-family: robot reg;
    text-align: center;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
}*/
.firstpage{
    background-image: url(content/5ee89432-721a-080b-11f5-c12e12456935.jpg);
    width: 100%;
    height: 765px;
    background-size: cover;
    background-position-y: -40px;
    position: relative;
}
.link {
    text-transform: uppercase;
    font-family: open sans;
    color: #f1c50e;
    font-size: 16px;
    text-align: right;
    padding-top: 35px;
    padding-right: 100px;
    margin-top: 0px;
    font-weight: 600;
    display: block;
    text-decoration: none;
}
.link:link {
    color: #f1c50e;
  }
.link:hover{
    color: white;
}
.firstpage h2{
    color: white;
    font-family: robot lit;
    letter-spacing: 4px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 80px;
    margin-top: 80px;
    font-weight: 100;
}
.firstpage h1{
    font-family: robot bold;
    color: white;
    font-size: 60px;
    text-align: right;
    font-weight: 900;
    text-transform: uppercase;
    padding-right: 80px;
    margin-left: 600px;
    margin-top: 30px;
    letter-spacing: 2px;
}
.secondpage{
    width: 100%;
    height: 700px;
    background-color: black;
}
.sol{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    padding-top: 60px;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: robot lit;
    margin: 0px;
}
.secondpage h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 40px;
    font-family: robot reg;
    padding-top: 20px;
    margin: 0px;

}
.lady{
    width: 400px;
    height: 300px;
    padding-left: 432px;
    padding-top: 30px;
    margin: 0px;
}
.secondpage p{
    color: #999999;
    font-size: 17px;
    font-family: robot lit;
    line-height: 1.6;
    margin: 0px;
    padding-top: 30px;
    text-align: center;
    padding-left: 266px;
    word-spacing: 2px;
    font-weight: 500;
    padding-right: 283px;
}
.read{
    color: white;
    font-family: robot lit;
    font-size: 14px;
    text-align: center;
    padding-top: 36px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.thirdpage{
    background-color: #f1c50e;
    width: 100%;
    height: 410px;
}
.thirdinside{
    margin-left: 93px;
    margin-right: 103px;
    display: flex;
    align-items: center;
    height: 410px;
    width: 100%;
    
}
.leftpara{
    width: 25%;
    display: flex;
    flex-direction: column;
   
}
.leftpara h3{
    font-family: robot reg;
    font-weight: 100;
    font-size: 20px;
    text-align: left;
    margin: 0px;
}
.leftpara h1{
    font-family: robot reg;
    font-size: 35px;
    font-weight: 100;
    text-align: left;
    letter-spacing: 1px;
    padding-right: 21px;
    margin-bottom: 21px;
}
.middlepara{
    width: 25%;
    display: flex;
    margin-left: 60px;
}
.middlepara p{
    font-size: 16px;
    font-family: robot lit;
    line-height: 1.6;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0px;
    word-spacing: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.rightpara{
    width: 26%;
    margin-left: 41px;
    display: flex;
    flex-direction: column;
}
.rightpara p{
    font-size: 16px;
    font-family: robot reg;
    line-height: 1.4;
    text-align: right;
    word-spacing: 5px;
    margin: 0px;
    font-weight: 100;
}
.rightpara h2{
    font-family: robot lit;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    padding-left: 50px;
    margin-bottom: 43px;
    letter-spacing: 2px;
}
.fourthpage{
    width: 100%;
    height: 820px;
}
.insidefourth{
    width: 963px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    margin-bottom: 62px;
}
.content{
    width: 963px;
    height: 720px;
    display: flex;
    flex-direction: row;
}
.left{
    width: 654px;
    height: 720px;
}
.right{
    width: 307px;
    height: 720px;
}
.above{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 176px;
}
.box{ 
    background-color: black;
    width: 155px;
    height: 155px;
    position: relative;
}
.sale{
    color: white;
    font-family: robot bold;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    margin: 0px;
    padding-left: 30px;
    padding-top: 40px;
}
.word p{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 20px;
    font-family: open i sans;
    line-height: 1.6;
}
hr{
    border-collapse: collapse;
    color: black;
    margin: 0px;
    width: 625px;
}
.below h1{
    font-family: robot lit;
    font-size: 48px;
    letter-spacing: 2px;
    margin-top: 36px;
    margin-bottom: 0px;
}
.below p{
    font-size: 16px;
    font-family: open sans;
    margin: 20px 0px 0px;
    color: #6b4748;
    margin-right: 124px;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 20px;
}
.learn{
    font-family: open sans;
    font-size: 16px;
    font-weight: 600;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chair{
    background-size: cover;
    width: 310px;
    height: 345px;
}
.tree{
    background-size: cover;
    width: 310px;
    height: 345px;
}
.fifthpage{
    width: 100%;
    height: 1155px;
    background-color: black;
}
.fifthinside{
    align-items: center;
    width: 1140px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.nature{
    height: 260px;
}
.nature h2{
    color: white;
    font-family: robot reg;
    font-size: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 0px;
    font-weight: 100;
    text-align: center;
}
.nature p{
    color: white;
    font-family: open sans;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 225px;
    text-align: center;
    margin-right: 225px;
}
.image{
    height: 799px;
    width: 1140px;
    margin-top: 20px;
    flex-flow: wrap;
    display: flex;
    flex-direction: column;
}
.image1{
    background-image: url(content/1.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
    margin: 0px;
}
.image2{
    background-image: url(content/2.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
    margin: 0px;
}
.image3{
    background-image: url(content/3.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
    margin: 0px;
}
.image4{
    background-image: url(content/4.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
}
.image5{
    background-image: url(content/5.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
    margin: 0px;
}
.image6{
    background-image: url(content/6.jpg);
    background-size: cover;
    width: 380px;
    height: 399px;
    margin: 0px;
}
.sixthpage{
    width: 100%;
    height: 926px;
    position: relative;
}
.yellow{
    background-color: #f1c50e;
    height: 525px;
    width: 100%;
}
.main{
    width: 1170px;
    height: 820px;
    margin: 0px;
    display: flex;
    margin: auto;

}    
.leftcon{
    width:389.9999px;
    height: 820px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 75px 0px 0px 0px;
    
}
.left1 img{
    width: 361px;
    height: 371px;
    margin: 0px;
}
.left1 h5{
    font-family: robot lit;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 145px;
    margin-bottom: 0px;
}
.left1 p{
    font-family:  open sans;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 21px;
    margin-bottom: 0px;
    line-height: 1.6;
}
.middlecon{
    width: 389.9999px;
    height: 820px;
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 30px;
    
}
.mid1{
    background-image: url(content/59d34f7d19b2d318004045a5d1116d78.jpg);
    width: 361px;
    height: 365px;
    background-size: cover; 
    background-position-x: -98px;   
}
.rightcon{
    width: 389.9999px;
    height: 820px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    margin-top: 45px;
    
}
.right1 img{
    width: 360px;
    height: 371px;
    margin-top: 145px;
    margin-bottom: 0px;
}
.right1 h5{
    font-family: robot lit;
    font-size: 20px;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 0px;
}
.right1 p{
    font-family:  open sans;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 0px;
    line-height: 1.6;
    padding-right: 22px;
}
.seventhpage{
    width: 100%;
    height: 626px;
    display: flex;
    flex-direction: row;
}
.light{
    width: 842px;
    height: 626px;
    background-image: url(content/pexelsphoto709767.jpg);
    background-size: cover;
    background-position-y: -100px;
}
.dark{
    width: 421px;
    height: 626px;
    background-image: url(content/pexelsphoto2101345.jpg);
    background-size: cover;
}
.eightpage{
    width: 100%;
    height: 900px;
    position: relative;
}
.background{
    background-image: url(content/pexelsphoto3104234.jpg);
    height: 530px;
    width: 100%;
    margin-top: 370px;
    position: absolute;
    background-size: cover;
    background-position-y: -195px;
}
.rowoftwo{
    display:flex;
    margin: 60px;
    flex-direction: row;
    width: 1140px;
    height: 438px;
    position: absolute;
}
.boxes{
    display: flex;
    flex-direction: column;
    width: 684px;
    height: 438px;
}
.wordtype{
    width: 684px;
    height: 438px;
    display: flex;
    flex-direction: column;
}
.wordtype h1{
    font-family: robot lit;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 48px;
    padding-left: 33px;
}
.boxestype{
    width: 684px;
    height: 438px;
    display: flex;
    flex-direction:row;
    
}
.box1{
    background-color: #f1c50e;
    width: 342px;
    height: 170px;
}
.box1 h4{
    font-family: robot lit;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 100;
}
.box1 h2{
    margin-left: 30px;
    font-size: 30px;
    font-family: robot reg;
    text-transform: uppercase;
    font-weight: 100;
}
.box2{
    background-color: black;
    width: 342px;
    height: 170px;
}
.box2 h4{
    color: white;
    font-family: robot lit;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
}
.box2 h2{
    color: white;
    margin-left: 30px;
    font-size: 30px;
    font-family: robot reg;
    text-transform: uppercase;
    font-weight: 100;
}
.border{
    width: 456px;
    height: 438px;
}
.border h4{
    font-family: robot lit;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 100;
}
.border hr{
    width: 80px;
    margin-top: 175px;
    margin-left: 30px;
    border: solid;
}
.lastpage{
    width: 100%;
    max-height: 160px;
    background-color: #333333;
}
.lastpage p{
    text-align: center;
    color: white;
    margin: 0px;
    padding-top: 115px;
    font-family: open sans;
    font-weight: 100;
    font-size: 12px;
    word-spacing: 1px;

}
@font-face {
    font-family: name;
    src: url(content/GloriaHallelujah-Regular.ttf);
}    
.name{
    font-family: name;
    font-weight: 700;
    font-size: 20px;
    color: #EDD1B2 ;
}